@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-Light.ttf);
    font-weight:300;
    font-style: normal;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-LightItalic.ttf);
    font-weight:300;
    font-style: italic;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-Regular.ttf);
    font-weight:400;
    font-style: normal;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-Italic.ttf);
    font-weight:400;
    font-style: italic;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-Medium.ttf);
    font-weight:500;
    font-style: normal;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-MediumItalic.ttf);
    font-weight:500;
    font-style: italic;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-SemiBold.ttf);
    font-weight:600;
    font-style: normal;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-SemiBoldItalic.ttf);
    font-weight:600;
    font-style: italic;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-Bold.ttf);
    font-weight:700;
    font-style: normal;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-BoldItalic.ttf);
    font-weight:700;
    font-style: italic;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-ExtraBold.ttf);
    font-weight:800;
    font-style: normal;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-ExtraBoldItalic.ttf);
    font-weight:800;
    font-style: italic;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-Black.ttf);
    font-weight:900;
    font-style: normal;
}
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik/Rubik-BlackItalic.ttf);
    font-weight:900;
    font-style: italic;
}