@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Thin.ttf);
    font-weight:100;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-ThinItalic.ttf);
    font-weight:100;
    font-style: italic;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Light.ttf);
    font-weight:300;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-LightItalic.ttf);
    font-weight:300;
    font-style: italic;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Regular.ttf);
    font-weight:400;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Italic.ttf);
    font-weight:400;
    font-style: italic;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Medium.ttf);
    font-weight:500;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-MediumItalic.ttf);
    font-weight:500;
    font-style: italic;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Bold.ttf);
    font-weight:700;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-BoldItalic.ttf);
    font-weight:700;
    font-style: italic;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Black.ttf);
    font-weight:900;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-BlackItalic.ttf);
    font-weight:900;
    font-style: italic;
}
