@import "bootstrap-5.0.0-beta2/scss/bootstrap-grid.scss";
@import "../css/font_roboto.css";
@import "../css/font_rubik.css";
.position-relative{
    position:relative;
}


body, html{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.wraper{
    display: flex;
    width: 100%;
    .wraper_title{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        .wraper_title_heading{
            text-transform: uppercase;
            font-size: 2rem;
            line-height: 2.375rem;
            color: #000;
        }
        .wraper_title_description{
            font-size: 1.25rem;
            line-height: 2rem;
            color:#A8A8A8;
        }
    }
    .item{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        &.actived{
            .item_logo_wraper{
                box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.18);
            }
            .item_info{
                color: #091356;
            }
        }
        .item_logo_wraper{
            min-width: 7.5rem;
            min-height: 7rem;
            max-width: 7.5rem;
            max-height: 7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: .125rem solid #EEEEEE;
            box-sizing: border-box;
            .item_logo{
                background-size: 100%;
            }
        }
        .clock{
            border-radius: 67% 33% 80% 20% / 30% 71% 29% 70%;
            .item_logo{
                background-position-y: 40px;
            }
        }
        .wifi{
            border-radius: 44% 56% 40% 60% / 67% 70% 30% 33%;
            .item_logo{
                background-position-y: 80px;
            }
        }
        .shield{
            border-radius: 22% 78% 16% 84% / 70% 24% 76% 30%;
            .item_logo{
                background-position-y: 120px;
            }
        }
        .home{
            border-radius: 22% 78% 59% 41% / 23% 24% 76% 77%;
            .item_logo{
                background-position-y: 48px;
            }
        }
        .mobile{
            border-radius: 21% 79% 52% 48% / 89% 73% 27% 11%;
            .item_logo{
                background-position-y: 96px;
            }
        }
        .fine{
            border-radius: 67% 33% 51% 49% / 28% 21% 79% 72%;
            .item_logo{
                background-position-y: 144px;
            }
        }
        .tv{
            border-radius: 54% 46% 32% 68% / 89% 21% 79% 11%;
            .item_logo{
                background-position-y: 192px;
            }
        }
        .item_info{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #555555;
        }
        .item_info_add{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: .75rem;
            line-height: 1rem;
            color: #a8a8a8;
        }
    }
}
.header{
    background-image: url(../img/backgroundNEO.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    .nav{
        position: relative;
        .logo{
            display: flex;
            justify-content: flex-start;
        }
        .link_TypeOfBank{
            display: flex;
            align-self: flex-end;
            justify-content: flex-start;
            font-family: 'Roboto';
            font-weight: 500;
            font-style: normal;
            font-size: 1.25rem;
            line-height: 1.75rem;
            text-decoration: none;
            color: #fff;
            &.link_activated{
                text-decoration: underline;
                color:#FE5F55;
                text-shadow: 0 0 .5rem #FE5F55;
            }
        }
        .languages{
            position: absolute;
            padding: 0;
            width: auto;
            top: 0;
            right: 0;
            text-align: right;
            z-index: 9;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: .875rem;
            line-height: 1.25rem;
           .link_lang{
                text-decoration: none;
                color: #fff;
                &.link_activated{
                    color: #FE5F55;
                }
                &+.link_lang{
                    margin-left: 1rem;
               }
           }
        }
        .link_menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            .link_submenu{
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height:1.5rem;
                color:#fff;
                text-decoration: none;
                text-transform: uppercase;
                width: auto;
            }
        }
        .button_wraper{
            display: flex;
            flex-direction:row;
            justify-content:flex-end;
            align-items: flex-end;
            .button_link{
                height: max-content;
            }
        }
        .contacts{
            display: flex;
            flex-direction: column;
            color: #fff;
            text-align: end;
            margin:0 auto;
            .contact__number{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                line-height: 2.8rem;
                font-size: 2rem;
            }
            .contact__text{
                font-family:'Roboto';
                font-style: normal;
                font-weight:500;
                line-height:1rem;
                font-size: .875rem;
            }
        }
    }
    .title{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 7rem;
        font-family: 'Roboto';
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        line-height: 4.625rem;
        text-transform: uppercase;
        .text{
            background: linear-gradient(to left, #FFF, #6C6D6E 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
        }
        .info{
            margin-top: 3rem;
            font-size: 1.25rem;
            line-height: 1.8rem;
            font-weight: 400;
            text-transform:none;
        }
    }
    .link_moreinfo, .link_allcards{
        margin-top: 2rem;
        margin-bottom: 6.25rem;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.125rem;
        color: #A8A8A8;
        text-transform:none;
        text-decoration: underline;
    }
    .link_allcards{
        align-self: center;
        margin:0;
        background: linear-gradient(to left, #FFF, #FE5F55 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            right:0;
            top: 100%;
            height: .0625rem;
            background: linear-gradient(to left, #FFF, #FE5F55 100%);
        }
    }
    .cards_choice{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 7rem 0;
        .subchoice{
            width: .5rem;
            height: .5rem;
            border-radius: 1rem;
            background-color: #fff;
            &+.subchoice{
                margin-left: 1rem;
            }
            &.active{
                width: 1rem;
                height: 1rem;
                background-color: #FE5F55;
            }
        }
    }
}
.applications{
    background-color: #F7F7F7;
    height: 45rem;
    overflow: hidden;
    .image_of_iphonex{
        background-image: url(../img/iPhone_X.png);
        background-size: 100%;
        background-repeat:no-repeat;
        background-position: center;
        width: 60rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 35%;
    }
    .wraper_title{
            margin-top: 8.4rem;
            font-family: 'Rubik';
            font-style: normal;
        .wraper_title_heading{
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 2.8rem;
            text-transform: uppercase;
            color: #000;
        }
        .wraper_title_description{
            font-weight: 400;
            font-size: 1.375rem;
            line-height: 2rem;
            color: #000;
        }
    }
    .item{
        display: flex;
        flex-direction: column;
        .item_logo{
            min-width: 3.4375rem;
            min-height: 3rem;
            max-height: 3rem;
            max-width: 3.4375rem;
            background-image: url(../img/sprite1.svg);
            background-size: 100%;
            &.sign{
                background-position-y:-96px;
            }   
            &.mountain{
                background-position-y: -48px;
            }
            &.rocket{   
                background-position-y: 0;
            }
        }
        .item_info{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.625rem;
        }
    }
}
.transfer{
    background-color: #fff;
    .item_logo{
        min-width: 2.5rem;
        min-height: 2.5rem;
        max-height: 2.5rem;
        max-width: 2.5rem;
        background-image: url(../img/sprite2.svg);
    }
}
.payments{
    background-color: #F7F7F7;
    .item_logo{
        min-width: 3rem;
        min-height: 3rem;
        max-height: 3rem;
        max-width: 3rem;
        background-image: url(../img/sprite3.svg);
    }
}
footer{
    display: flex;
    .cookie_inform{
        background: #F7F7F7;
        border-radius:.25rem;
        padding: 1rem 2rem;
        position: relative;
        .cookie_inform_text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: .875rem;
            line-height: 1.5rem;
            color: #555555;
            .link_cookie_inform{
                color:#0364A1;
            }
        }
        .close_button{
            position: absolute;
            right: 1rem;
            top: 1rem;
            min-width: 1rem;
            min-height: 1rem;
            background-image: url(../img/close.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .menu{
        display: flex;
        flex-direction: column;
        font-family: 'Roboto';
        font-style: normal;
        
        .title{
            margin-top: 2rem;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1.5rem;
            color: #101010;
        }
        .link_footer{
            font-weight: 400;
            font-size: .875rem;
            line-height: 2rem;
            text-decoration: underline;
            color: #555555;
        }
    }
    .button_menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size:.875rem;
            line-height:2rem;
            color: #999999;
            text-align: center;
        }
        .socialnetworks{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .instagramm, .facebook, .youtube{
                min-width: 2rem;
                min-height: 2rem;
                background-size: 100%;
                background-image: url(../img/sprite4.svg);
            }
            .instagramm{
                background-position-y:32px;
            }
            .facebook{
                background-position-y:64px;
            }
            .youtube{
                background-position-y:96px;
            }
        }
    }
    .adress{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.5rem;
        color: #A8A8A8;
    }
    .supportmail{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.25rem;
        color: #555555;
        text-decoration: none;
        position: relative;
        &::before{
            content: '';
            position:absolute;
            top: 10%;
            right: 100%;
            background-image:url(../img/mail.svg);
            width:1rem;
            height:1rem;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }
    }
}
.button{
    text-decoration: none;
    padding: .75rem;
    color: #fff;
    background-color: #FE5F55;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: .25rem;
    text-align: center;
    display: block;
}
.inform{
    line-height: 1.625rem;
    min-width: 13rem;
    max-width: 13rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 1rem;
    &::after{
        content: '';
        min-width: 3rem;
        min-height: 3rem;
        max-height: 3rem;
        max-width: 3rem;
        background-image: url(../img/sprite3.svg);
        background-size: 100%;
        background-position-y: 0;
        left: 2rem;
        top: 4rem;
        position: absolute;
    }
    .title{
        margin-top: 6rem;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 1.375rem;
        color: #414447;
    }
    .info{
        margin-top: 1.7rem;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        color: #555555;
    }
    .link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25rem;
        text-decoration-line: underline;
        color: #091356;
    }
}
.table_title{
    font-family:'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.375rem;
    color: #101010;
}
.table_subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #A8A8A8;
    margin: 1rem 0;
}
.table{
    font-family: 'Rubik';
    font-style: normal;
    font-size: 1.25rem;
    line-height: 3.75;
    color: #414447;
    .heading{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.5rem;
        color: #7C7C7C;
    }
    .currency{
        font-weight: 500;
    }
    .value{
        font-weight: 300;
    }
}
@media screen and (max-width: 1200px){
    .header{
        height: 100%;
        .title{
            margin-top: 5rem;
        }
        .link_moreinfo{
            margin-bottom: 3rem;
        }
        .cards_choice{
            padding: 2rem 0;
        } 
    }
    .applications{
        .image_of_iphonex{
            left: 30%;
        }
    }
    .footer{
        .button_menu{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    
}
@media screen and (max-width: 992px){
    .header{
        background: radial-gradient(farthest-corner at 65% 50%, rgba(81,0,72,1) 0%,rgba(0,0,0,1) 55%);
        .link_allcards{
            margin-left: auto;
        }   
    }
    .applications{
        .image_of_iphonex{
            left: 50%;
        }
    }
    .footer{
        .button_menu{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    
}
@media screen and (max-width: 768px){
    .header{
        .nav{
            .button_wraper{
                flex-direction: row-reverse;
                .contacts{
                    margin: 0;
                    margin-left: auto;
                }
            }
        }
        .title{
            font-size: 2rem;
            line-height: 2rem;
            .info{
                margin-top: 1.5rem;
            }
        }
        .link_moreinfo{
            margin-top: 1rem;
        }    
    }
    .applications{
        height: auto;
        .wraper_title{
            margin-top: 2rem;
        }
        .image_of_iphonex{
            display: none;
        }
    }
}
@media screen and (max-width: 576px){
    .header{
        min-height: 100vh;
        .nav{
            .link_menu{
                flex-direction: column;
                align-items: flex-start;
                .link_submenu{
                    width: 100%;
                }
            }
            .button_wraper{
                flex-direction: column;
                .contacts{
                    margin: 0;
                }
            }
        }
        .link_allcards{
            margin-right: auto;
            margin-top: 1rem;
        } 
        .cards_choice{
            margin: auto;
        }
    }
    .applications, .transfer, .payments{
        .item{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;
        }
        .item_info, .item_info_add{
            margin-left: 1rem;
        }
    }
}

